<header class="header plus-jakarta-sans-font">
    <div class="header-logo">
        <h3 (click)="routeFunc(home)" [class.active]="isActive(home)">
            CardX
        </h3>
    </div>
    <div class="header-content">
        <div class="header-links">
            <a (click)="routeFunc(cardDesign)" [class.active]="isActive(cardDesign)">Designs</a>
            <a (click)="routeFunc(features)" [class.active]="isActive(features)">Features</a>
            <a (click)="routeFunc(pricing)" [class.active]="isActive(pricing)">Prices</a>
            <a (click)="routeFunc(help)" [class.active]="isActive(help)">Help</a>
        </div>
        <div class="header-buttons" *ngIf="isLoggedIn()">
            <button
                class="btn login"
                (click)="routeFunc(login)"
                [class.active]="isActive(login)">Login</button>
            <button
                class="btn get-started"
                (click)="routeFunc(register)"
                [class.active]="isActive(register)">Get Started</button>
        </div>

        <div class="header-buttons" *ngIf="!isLoggedIn()">
            
            <button
                *ngIf="isDashboard"
                class="btn settingBtn"
                (click)="openSettingsModel()"                
                >
                <mat-icon
                    aria-hidden="false"
                    aria-label="Setting button"
                    fontIcon="settings"></mat-icon>
            </button>

            <button
            *ngIf="!isDashboard"
                class="btn settingBtn"
                (click)="routeFunc(dashboard)"
                [class.active]="isActive(dashboard)">
                <mat-icon
                    aria-hidden="false"
                    aria-label="dashboard"
                    fontIcon="account_circle"></mat-icon>
            </button>

        </div>
    </div>
</header>