@import '../../constants.scss';

.footer-container {
    background-color: $dark-bg-color;
    text-align: center;
    padding: 0.5%;
    margin: 0%;

    .quote {
        color: $white-color;
    }

    .copy-right-text {
        color:$extra-light-asset-color;
    }

    .icon {
        color: $extra-light-asset-color;
    }

    h3{
        margin: 20px;
    }

}


span {
    font-size: 15px;
}