@import '../../../constants.scss';


.card-design-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;

    .card-design-text {
      text-align: center;
      padding: 10px;
    }

    h3 {
      color: $extra-light-asset-color;
    }

    p {
      counter-reset: $light-asset-color;
    }
    
  }

  .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
  
    .button {
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 10px 20px;
      font-size: 1em;
      color: $white-color;
      background-color: $disabled-color;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  }