<div class="card-design-text-container">
  <div class="card-design-text">
    <h1>Create Your Own Design</h1>
    <h3>Revolutionize Your Card Design with AI</h3>
    <p>
      Welcome to the future of card design! Our advanced AI technology makes
      it easy to create beautiful, personalized designs for any type of
      physical card you need. Whether it's business cards, greeting cards,
      invitations, or anything else, our AI generates unique and eye-catching
      designs just for you. No more boring templates—just tell us what you
      want, and our AI will handle the rest. It's fast, creative, and tailored
      to your style. Try it today and see how simple and fun designing cards
      can be with the power of AI!
    </p>
    <div class="button-container">
      <button class="button"  matTooltip="AI is comming soon!" (click)="toAiPage()">GO TO AI</button>
    </div>
  </div>
</div>