<div class="all-designs-page">
  <div class="banner">
    <div class="banner-content">
      <h1>Card Design Exhibition</h1>
      <p>Discover all available designs on cardX, Inspire from our designs, Create your own designs</p>
    </div>
  </div>

  <div class="all-design-section">
    <div class="all-design-box">
      <div class="image-row">
        <div class="card" *ngFor="let card of cards">
          <div class="person-name">{{ card.designName }}</div>
          <img [src]="card.image" alt="{{ card.designName }}" />
        </div>
      </div>
    </div>
    <div class="button-container">
        <button class="button" (click)="goToDesign()" [class.active]="isActive('card-design')">GO TO Design Page</button>
      </div>
  </div>
</div>