<div class="card-design-page">
  <div class="banner">
    <div class="banner-content">
      <h1>Card Design Studio</h1>
      <p>
        Explore stunning templates and unleash your creativity. Generate unique
        designs effortlessly with our AI-powered tool. New designs every week!
      </p>
      <div *ngIf="!isLoggedIn()" class="button-container">
        <button class="button" style="color: black;" (click)="routeFunc('register')" [class.active]="isActive('register')">
          Get Started
        </button>
      </div>
    </div>
  </div>

  <div class="weekly-section">
    <h1>Our Weekly Designs</h1>
    <div class="weekly-design-box">
      <div class="image-row">
        <div class="card" *ngFor="let card of cards" (click)="cardSelected(card)">
          <div class="person-name">{{ card.designName }}</div>
          <img [src]="card.image" alt="{{ card.designName }}" />
        </div>
      </div>
    </div>
  </div>

  <div class="center-line"></div>

  <div class="all-time-design-section">
    <div class="weekly-section">
      <h1>Our All Time Designs</h1>
      <div class="weekly-design-box">
        <div class="image-row">
          <div class="card" *ngFor="let card of allTimeCards" (click)="cardSelected(card)">
            <div class="person-name">{{ card.designName }}</div>
            <img [src]="card.image" alt="{{ card.designName }}" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="button-container">
    <button class="button" (click)="routeFunc('home')" [class.active]="isActive('home')">
      GO TO HOME
    </button>
  </div>
</div>
