<div class="order-page">
    <!-- Banner Section -->
    <div class="banner">
      <div class="banner-content">
        <h1>Order</h1>
        <p>
          Get your own customize and cool CardX, Today.
        </p>
      </div>
    </div>

    <div class="order-container">
        <div class="order-payment-option">
            <h1>Place Your Order</h1>
            <p> Select Type of Card </p>
            
            <div class="order-payment-option-button">

            <button class="cta-button "> Standard </button>
            <span> | </span>
            <button class="cta-button "> Advanced </button>
            <span> | </span>
            <button class="cta-button "> Premium </button>

        </div>

        <div class="center-line"></div>

        </div>
        
        <div class="order-design">
            <p> Select Your CardX Design </p>

            <div class="order-design-list">
                <!-- If advanced or premium -->
            </div>
            <button class="order-design-cta-button"> Customize Button </button>
        </div>
    
        <div class="center-line"></div>


        <div class="order-personal-information">
            <p> Almost Completed </p>
            <button class="cta-button-proceed"> Pay Now </button>
        </div>
    </div>
   
  </div>