<!-- Not Found Page if User uses URL to navigate URL -->
<div *ngIf="isCameDirectly">
    <app-not-found></app-not-found>
</div>

<!-- Order Page - Display -->
<div class="order-page" *ngIf='!isCameDirectly'>
  <div class="banner">
    <div class="banner-content">
      <h1>Order</h1>
      <p>Get your own customize and cool CardX, Today.</p>
    </div>
  </div>

  <div class="order-container">
    <div class="order-payment-option">
      <h1>Place Your Order</h1>

      <p>Selected Type of Card</p>

      <div class="order-payment-option-button">
        <button *ngFor="let cardType of totalDesignType" [ngClass]="'cta-' + (cardType === designTypeCond ? 'highlighed' : 'regular') + '-button'"> 
           {{cardType | uppercase}} 
          </button>
      </div>
    </div>

    <div class="center-line"></div>

    <div class="order-design">
      <p>Selected CardX Design</p>
      <img [src]="getCard?.image" alt="{{ getCard?.designName }}" />
      <button class="order-design-cta-button" (click)="routeFunc(design)"> Change Your Design </button>
    </div>

    <div class="center-line"></div>

    <div class="order-design-with-ai">
      <h1>CardX Ai</h1>
      <p>Elevate your CardX design with our AI, OR create new own design</p>
      <button class="order-design-cta-button" 
        matTooltip="AI is comming soon!"
        (click)="routeFunc(ai)" 
        [class.active]="isActive(ai)"> GO TO AI </button>
    </div>

    <div class="center-line"></div>

    <div class="order-personal-information">
      <h1>Almost There!</h1>
      <p> Your Amount is : {{getCard?.designAmount}}  CAD</p>
      <button class="cta-button-proceed" (click)="openPaypal()">Pay Now</button>
    </div>
  </div>
</div>