<div class="changePassword-dialog-container">
    <mat-dialog-content>
        <div class="header-row">
            <h2>Change Password</h2>
            <button mat-icon-button class="close-btn" (click)="close()"> x </button>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <div class="form-container">
            <form (ngSubmit)="onSubmit(changePassword)" #changePassword="ngForm" *ngIf="!(successMessage != '' && successMessage != null)">
              <div class="form-box">
                <div class="form-group">
                  <label for="Current Password">Current Password<span>*</span></label>
                  <input type="password" id="currentPassword" name="currentPassword" ngModel #currentPassword="ngModel" />
                </div>
          
                <div class="form-group">
                  <label for="New Password">New Password<span>*</span></label>
                  <input type="password" id="newPassword" name="newPassword" ngModel minlength="8" #newPassword="ngModel" />
                </div>

                <div class="form-group">
                    <label for="Confirm Password">Confirm Password<span>*</span></label>
                    <input type="password" id="confirmPassword" name="confirmPassword" ngModel #confirmPassword="ngModel" />
                </div>
                
                <small *ngIf="changePassword.form.controls['newPassword']?.dirty && changePassword.form.controls['confirmPassword']?.dirty 
                        && changePassword.value?.newPassword != changePassword.value?.confirmconfirmPassword">
                        <span class="invalid-field">
                          Passwords do not match</span>
                </small>

                <small *ngIf="changePassword.form.controls['newPassword']?.touched && changePassword.form.controls['newPassword']?.errors?.['minlength']">
                        <span class="invalid-field">Password must be at least 8 characters long</span>
                </small>
                
                <small *ngIf="errorMessage != null || errorMessage != ''">
                    <span class="invalid-field">{{errorMessage}}</span>
                 </small>

                <button type="submit" class="changePassword-cta-button" [disabled]="!changePassword.valid" >Submit</button>
              </div>
            </form>

            <div class="successMessage" *ngIf="successMessage != '' && successMessage != null">
              <h2>{{successMessage}} Please wait do not refresh the Page </h2>
            </div>
        </div>

    </mat-dialog-actions>
</div>