@import '../../../constants.scss';

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #ddd;
  
    h2 {
      margin: 0;
      font-size: 20px;
  
      // Responsive for mobile devices
      @media screen and (max-width: 768px) {
        font-size: 1.5em;
      }
    }
  
    .close-btn {
      background: transparent;
      border: none;
      font-size: 20px;
      cursor: pointer;
      color: $dark-asset-color;
  
      // Responsive for mobile devices
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }
}


.paypal-model-container {
    width: 700px;
    max-width: 700px;
    text-align: center;
    overflow-y: auto;
    max-height: 70vh; /* Set max height relative to the viewport */
  
    .card-model-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      border-bottom: 1px solid #ddd;
  
      h2 {
        margin: 0;
        font-size: 20px;
      }
  
      .close-btn {
        background: transparent;
        border: none;
        font-size: 20px;
        cursor: pointer;
        color: $dark-asset-color;
      }
    }
  
    @media screen and (max-width: 768px) {
      max-width: 100%;
      padding: 16px;
    }
  }