@import '../../../constants.scss';

.banner {
    height: 400px;  
    background-color: $light-bg-color;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding: 20px;
  
    .banner-content {
      max-width: 600px;
      color: $white-color;
    
      .cta-button {
        padding: 10px 20px;
        font-size: 1em;
        background-color: $dark-asset-color;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
      }
    }
  }
  