@import '../../../constants.scss';

.banner {
    height: 400px;
    background: url('/assets/backgrounds/waves.png') repeat-x;
    background-repeat: no-repeat;
    background-size: 100% 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white-color;

    .banner-content {
      position: relative;
      z-index: 1;
    
      .cta-button {
        padding: 10px 20px;
        font-size: 1em;
        background-color: $dark-asset-color;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
      }
    }
  }
  