
$white-color: #fff;
$black-color:#111;

$dark-bg-color:#3A332C;
$light-bg-color:#6A5745;

$dark-asset-color:#865D36;
$light-asset-color:#93785B;

$extra-light-asset-color:#A69080;

$disabled: #D3D3D3;
$sent_icon: #4caf50;