.footer-container {
    background-color: #3A332C;
    text-align: center;
    padding: 0.5%;
    margin: 0%;

    .quote {
        color: white;
    }

    .copy-right-text {
        color:#93785B;
    }

    .icon {
        color: #93785B;
    }

    h3{
        margin: 20px;
    }

}


span {
    font-size: 15px;
}