<div class="register-page">
  <!-- Banner Section -->
  <div class="banner">
    <div class="banner-content">
      <h1>Register Now</h1>
      <p>Create your account and get started today. Discover the benefits and unlock your potential with us.</p>
    </div>
  </div>

  <!-- Form Section -->
  <div class="form-container">
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
      
      <!-- Profile Info -->
      <div class="form-box" ngModelGroup="personalInfo">
        <h2>Profile Information</h2>
        <div class="form-row">
          <div class="form-group">
            <label for="firstName">First Name <span >*</span></label>
            <input type="text" id="firstName" name="firstName" ngModel required #firstName="ngModel" />
          </div>
          <div class="form-group">
            <label for="lastName">Last Name <span>*</span></label>
            <input type="text" id="lastName" name="lastName" ngModel required #lastName="ngModel" />
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email <span>*</span></label>
          <input type="email" id="email" name="email" ngModel required #email="ngModel" />
        </div>

        <div class="form-group">
          <label for="phone">Phone Number <span>*</span></label>
          <input type="tel" id="phone" name="phone" ngModel required #phone="ngModel" />
        </div>

        <div class="form-group">
          <label for="bio">Bio <span>*</span></label>
          <textarea id="bio" name="bio" rows="5" ngModel required #bio="ngModel"></textarea>
        </div>

        <div class="form-group">
          <label for="image">Upload Image </label>
          <input type="file" id="image" name="image" (change)="onFileChange($event)" />
        </div>

        <!-- Address -->
        <h2>Address</h2>
        <div class="form-row" ngModelGroup="address">
          <div class="form-group">
            <label for="country">Country  <span>*</span></label>
            <input type="text" id="country" name="country" ngModel required #country="ngModel" />
          </div>
          <div class="form-group">
            <label for="state">State  <span>*</span></label>
            <input type="text" id="state" name="state" ngModel required #state="ngModel" />
          </div>
          <div class="form-group">
            <label for="city">City  <span>*</span></label>
            <input type="text" id="city" name="city" ngModel required #city="ngModel" />
          </div>
        </div>

        <!-- Credentials -->
        <h2>Credentials</h2>
        <div class="form-row" ngModelGroup="credentials">
          <div class="form-group">
            <label for="password">Create a password <span>*</span></label>
            <input type="password" id="password" name="password" ngModel required #password="ngModel" />
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm password <span>*</span></label>
            <input type="password" id="confirmPassword" name="confirmPassword" ngModel required #confirmPassword="ngModel" />
          </div>
        </div>
      </div>

      <!-- Education -->
      <div class="form-box" ngModelGroup="education" >
        <h2>Education</h2>
        <div *ngFor="let edu of educationControls; let i = index" [ngModelGroup]="'education-' + i">
          <div class="form-row">
            <div class="form-group">
              <label for="study">Field of study</label>
              <input type="text" id="study" name="study" ngModel #study="ngModel" />
            </div>
            <div class="form-group">
              <label for="current" style="text-align: center;">Current</label>
              <input type="checkbox" id="current" name="current" ngModel #current="ngModel" />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="eduStart">Start Date</label>
              <input type="date" id="eduStart" name="eduStart" ngModel #eduStart="ngModel" />
            </div>
            <div class="form-group">
              <label for="eduEnd">End Date</label>
              <input type="date" id="eduEnd" name="eduEnd" ngModel #eduEnd="ngModel" />
            </div>
          </div>

          <div class="form-group">
            <label for="university">University</label>
            <input type="text" id="university" name="university" ngModel #university="ngModel" />
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="uniCountry">Country</label>
              <input type="text" id="uniCountry" name="uniCountry" ngModel #uniCountry="ngModel" />
            </div>
            <div class="form-group">
              <label for="uniState">Province</label>
              <input type="text" id="uniState" name="uniState" ngModel #uniState="ngModel" />
            </div>
          </div>

          <button *ngIf="educationControls.length > 1" type="button" class="remove-add-cta-button" (click)="removeEducation(i)">Remove</button>
        </div>
        <button type="button" class="remove-add-cta-button" (click)="addEducation()">Add Education</button>
      </div>
      
      <!-- Experience -->
      <div class="form-box" ngModelGroup="experience">
        <h2>Experience</h2>
        <div *ngFor="let exp of experienceControls; let j = index" [ngModelGroup]="'experience-' + j">
          <div class="form-row">
            <div class="form-group">
              <label for="job">Job Title</label>
              <input type="text" id="job" name="job" ngModel #job="ngModel" />
            </div>
            <div class="form-group">
              <label for="present">Present</label>
              <input type="checkbox" id="present" name="present" ngModel #present="ngModel" />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="exStart">Start Date</label>
              <input type="date" id="exStart" name="exStart" ngModel #exStart="ngModel" />
            </div>
            <div class="form-group">
              <label for="exEnd">End Date</label>
              <input type="date" id="exEnd" name="exEnd" ngModel #exEnd="ngModel" />
            </div>
          </div>

          <div class="form-group">
            <label for="companyName">Company Name</label>
            <input type="text" id="companyName" name="companyName" ngModel #companyName="ngModel" />
          </div>

          <button *ngIf="experienceControls.length > 1" type="button" class="remove-add-cta-button" (click)="removeExperience(j)">Remove</button>
        </div>
        <button type="button" class="remove-add-cta-button" (click)="addExperience()">Add Experience</button>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="cta-button" [disabled]="!registerForm.valid">
        Register
      </button>

    </form>
  </div>
</div>
